<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="ConfigurationSection">
    <Parameter Name="ApplicationInsightsKey" Value="d344821a-da7f-4d56-b69b-412ab1a9e0b0" />
  </Section>
</Settings>
